.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  box-shadow: 0 0 10px #f3f3f3;
}

.green {
  background-color: rgb(111, 111, 228);
}

.blue {
  background-color: rgb(111, 111, 228);
}

.purple {
  background-color: rgb(111, 111, 228);
}

.red {
  background-color: rgb(111, 111, 228);
}

.active {
  background: url(../assets/active3.jpg);
  cursor: pointer;
}
