.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.active {
  background: url(../assets/active.jpg);
}
