.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-content: center;
  align-items: center;
}

.gameover_box {
  background: white;
  padding: 3rem;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.gameover_box button {
  /* background: lightgray; */
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: none;
}
